version: "3.9"

services:
  reverse_proxy:
    image: traefik:${TRAEFIK_VERSION}
    restart: unless-stopped
    ports:
      - "80:80"
{% if traefik_ssl_enable %}
      - "443:443"
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./custom:/etc/traefik/custom:ro
      - certs:/letsencrypt
    networks:
      - web
    deploy:
      resources:
        limits:
          memory: 128M

volumes:
  certs:

networks:
  web:
    name: traefik_web